.header__top
    .container
        .header__content
            nav.header__nav.header-nav
                ul.header-nav__list
                    +headerNavlink('', 'О компании')
                    +headerNavlink('', 'Доставка и оплата')
                    +headerNavlink('', 'Акции')
                    +headerNavlink('', 'Оптовикам')
                    +headerNavlink('', 'Новости')
                    +headerNavlink('', 'Гарантии')
                    +headerNavlink('', 'Контакты')
            nav.header__nav.header__nav--rigth.header-nav
                ul.header-nav__list
                    +headerNavlink('', 'Регистрация')
                    +headerNavlink('', 'Вход')