.hits{
  &-navigation{
    align-items: center;
    display: flex;
    &__item{
      line-height: 48px;
      flex: 1;
      border-bottom: 2px solid $alto;
      height: 50px;
      text-align: center;
      margin-right: 30px;
      &:last-child{
        margin-right: 0;
      }
      &.tabs-navigation__item--active{
        border-bottom-color: $coral;
      }
    }
  }
}