section.s-banner
    .container
        .banner
            .banner__navigation.banner__navigation--prev
                +icon('left', 'banner__navigation-icon')
            .banner__navigation.banner__navigation--next
                +icon('right', 'banner__navigation-icon')
            .banner__dot
            .js-banner
                .banner__item
                    .banner__content
                        .banner__body
                            span.banner__title 3D Картины
                            span.banner__descr Отличный подарок для всех
                            a(href="").btn.btn--transparent--white.btn--round.btn--inline Выбрать
                        .banner__img-wrapper
                            img(src="static/images/content/banner/banner-img.png" alt="Картинка на баннере").banner__img
                .banner__item
                    .banner__content
                        .banner__body
                            span.banner__title 3D Картины
                            span.banner__descr Отличный подарок для всех
                            a(href="").btn.btn--transparent--white.btn--round.btn--inline Выбрать
                        .banner__img-wrapper
                            img(src="static/images/content/banner/banner-img.png" alt="Картинка на баннере").banner__img
                .banner__item
                    .banner__content
                        .banner__body
                            span.banner__title 3D Картины
                            span.banner__descr Отличный подарок для всех
                            a(href="").btn.btn--transparent--white.btn--round.btn--inline Выбрать
                        .banner__img-wrapper
                            img(src="static/images/content/banner/banner-img.png" alt="Картинка на баннере").banner__img
                .banner__item
                    .banner__content
                        .banner__body
                            span.banner__title 3D Картины
                            span.banner__descr Отличный подарок для всех
                            a(href="").btn.btn--transparent--white.btn--round.btn--inline Выбрать
                        .banner__img-wrapper
                            img(src="static/images/content/banner/banner-img.png" alt="Картинка на баннере").banner__img
