.main-nav__dropdown-wrapper
    .main-nav__dropdown
        ul.main-subnav__list
            li.main-subnav__item
                a(href="").main-subnav__link
                    span.main-subnav__text Взрослые самокаты
                    +icon('right', 'main-subnav__icon')
                ul.main-subnav__list
                    li.main-subnav__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Детские двухколесные самокаты
                    li.main-subnav__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Детские трехколесные самокаты
                    li.main-subnav__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Детские с большими колесами
                    li.main-subnav__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Детские с большими колесами
                    li.main-subnav__item
                        a(href="").main-subnav__link
                            span.main-subnav__text Детские с большими колесами
            li.main-subnav__item
                a(href="").main-subnav__link
                    span.main-subnav__text Детские самокаты
                    +icon('right', 'main-subnav__icon')
            li.main-subnav__item
                a(href="").main-subnav__link
                    span.main-subnav__text Городские самокаты
                    +icon('right', 'main-subnav__icon')
